*{
    font-family: arial;
}

.big{
    display: flex;
    padding:100px;
}

body{
    background-color: rgba(149, 110, 157, 0.196);
}

h2{
    padding-top:20px;
    text-align: center;
    font-family: arial;
}

p{
    padding-left:50px;
    padding-right:50px;
    padding-bottom:10px;
    padding-top: 10px;
    font-size: 20px;
    font-family:arial;
    width:65%;
}

.about{
    border-radius: 25px;
    background: #fcfcfc;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.tom{
    border-radius: 30px;
    padding-top: 4px;
}

.card {
    max-width: 350px;
    width:30%;
    margin: auto;
    text-align: center;
    font-family: arial;
    justify-content: space-between;
}
  
.title {
    color: grey;
    font-size: 18px;
}
  
button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}
  
a {
    text-decoration: none;
    font-size: 22px;
    color: black;
}

.side{
    display:flex;
}
  