body,html {
            height: 100%;
            margin: 0;
            color: white;
            padding: 10px;
            font-family: Arial, sans-serif;
            background-color: rgba(149, 110, 157, 0.196)/* Background color for the page */
            display: flex;
            justify-content: center; /* Center horizontally */
            align-items: center;     /* Center vertically */
        }
        .container {
            background: #c6b4cb;
            border-radius: 15px;
            box-shadow: 0 0 10px rgba(0,0,0,0.1);
            padding: 20px;
            width: 80%;


            max-width: 600px;
        }
        input[type="text"], textarea {
            width: calc(100% - 20px);
            padding: 10px;
            margin-bottom: 10px;
            border: 1px solid #ddd;
            border-radius: 10px;
        }
        input[type="submit"] {
            background-color: #5cb85c;
            color: white;
            border: none;
            padding: 10px 20px;
            border-radius: 10px;
            cursor: pointer;
            width: 100%;
        }
        input[type="submit"]:hover {
            background-color: #4cae4c;
        }
        .post {
            background: #c6b4cb;
            border-radius: 10px;
            padding: 10px;
            margin-bottom: 10px;
            color: black;
        }
        .comment {
            background: #ddd2e0;
            border-radius: 10px;
            padding: 8px;
            margin-left: 20px;
            margin-bottom: 5px;
            color: black;
        }
        .time {
            font-size: 0.8em;
            color: black;
        }
* {
    padding:10; margin: 0;
}



a {
    text-decoration: none;
}

li {
    list-style: none;
}

.main-nav {
    width: 250px; background: #916E99;
    position: absolute;
}

.main-nav a {
	text-transform: uppercase;
	letter-spacing: .2em;
	color: #FFF;
	display: block;
	padding: 10px 0 10px 20px;
	border-bottom: 1px dotted gray;
}

.main-nav a:hover {background: #916E99}
.main-nav-ul ul {display: none;}
.main-nav-ul li:hover ul {display: block;}

.main-nav-ul ul a:before {
	content: '\203A';
	margin-right: 20px;
}

.main-nav .sub-arrow:after {
	content: '\203A';
	float: right;
	margin-right: 20px;
	transform: rotate(90deg);
	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
}
.main-nav li:hover .sub-arrow:after {
	content: '\2039';
}
