.header {
  grid-column: 1 / -1;
  background-image: url('devonmedia/discusbanner.jpg');
  background-size: cover;
  height: 250px; 
  background-position: center bottom 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header h2 {
    text-align: center;
    margin: 0;
  }

body {
    font-family: Arial, sans-serif, bold;
    margin: 0 auto;
    padding: 0;
    background-color: rgba(149, 110, 157, 0.196);
  }



.container {
    color: white;
    display: block;
    background-color: #916E99;
    overflow: hidden;
    padding: 20px;
  }


.container h2 {
    text-align: center;
}

.topicarea {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

input[type="text"],
textarea {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 10px;
    resize: none;
}

input[type="submit"] {
    background-color: #5cb85c;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
    width: 100%;
}

input[type="submit"]:hover {
    background-color: #4cae4c;
}

.post {
    box-align: center;
    background: #ffffff;
    border-radius: 10px;
    padding: 10px;
    margin: 0 20px 20px 30px;
    float: left; 
    color: black;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    margin-left: 30px;
    width: 550px;
    flex: 0 0 100px;
}

.comment {
    background: #ddd2e0;
    border-radius: 10px;
    padding: 4px;
    margin-left: 20px;
    margin-bottom: 5px;
    color: black;
}

.time {
    font-size: 0.8em;
    color: black;
}
