body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgba(149, 110, 157, 0.196)/* Background color for the page */
}

.faq-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-boxs {
    background-color: #916E99;
    color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 100%;
    overflow-y: auto;
}


.faq-box h1 {
    text-align: center;
}

.faq-box ul {
    list-style: none;
    padding: 0;
}

.faq-box li {
    margin-bottom: 20px;
}

.faq-box h2 {
    margin-bottom: 10px;
}
