body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgba(149, 110, 157, 0.196)/* Background color for the page */
}

.header {
    background-image: url('devonmedia/FAQ.jpg');
    background-size: cover;
    height: 190px; /* Adjust height as needed */
    border-bottom: 4px solid #916E99;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header h1 {
    color: white;
    text-align: center;
    text-shadow: 1px 1px 2px black;
    margin: 0; /* Remove default margin */
    margin-top: 50px;
}

.FAQ-section {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 20px;
}

.FAQ-section h2 {
    color: #333;
    font-size: 24px;
    margin-top: 0px;
}

.FAQ-section .purple-box {
    background-color: #916E99;
    color: #fff;
    padding: 15px;
    border-radius: 5px;
    margin-top: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.FAQ-section .purple-box:hover {
    background-color: #58445d;
}

.FAQ-section .content {
    display: none;
    margin-top: 10px;
}

.FAQ-section .content p {
    margin: 0;
}