*{
    font-family: arial;
}

.header {
    padding: 60px;
    text-align: center;
    color: white;
    font-size: 30px;
    background-image: url("abbymedia/banner.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

h1{
    font-family: arial;
    text-shadow: 5px 5px 7px black;
    text-align: center;
}
  
body {
    font-family: Arial;
    background-color: rgba(149, 110, 157, 0.196);
    margin: 0;
    padding-top: 20px;
}

.guitar{
    width: auto;
    height: 520px;
    position: relative;
}

.intext{
    text-decoration: none;
    font-style: italic;

}

a.intext:hover{
    color:#916E99;
}

p{
    font-size: 20px;
    padding: 10px;
}

.container {
    position: relative;
    overflow:hidden;
    display: flex;
    justify-content: space-between;
    padding: 5%;
}

.right{
    overflow:hidden;
    width: 20%;
    background-color: #fff;
    padding: 23px;
    box-sizing: border-box;
    border: 1px solid #ccc; 
    border-radius: 5%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.middle{
    overflow:hidden;
    width: 55%;
    background-color: #fff; 
    padding: 20px;
    box-sizing: border-box;
    border: 1px solid #ccc; 
    display:flex;
    border-radius: 5%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.left{
    overflow:hidden;
    width: 20%; 
    background-color: #fff;
    padding: 23px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.amp{
    position: relative;
    width:auto;
    height: 260px;
}


h2{
    text-align: center;
}

ul{
    list-style-type: none;
    font-size: larger;
}

.button{
    text-decoration:none;
    font-size: 30px;
    background-color: #916E99;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 12px 29px;
    color: white;
    display: inline-block;
    justify-content: space-between; 
}

.button:hover {
    background-color:#3c2d3f;
}

li{
    list-style-type: none;
    justify-content: space-between; 
    padding-bottom: 7%;
    padding-top:7%;
}

a.button {text-decoration: none;}
a.button:visited {color:white;}
