body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0px;
}

.guitar{
    width: 250px;
    height: auto;
}

.container {
    display: flex;
    justify-content: space-between; /* Adjust as needed */
    padding: 5%;
}

.right{
    width: 20%; /* Adjust width as needed */
    background-color: #fff; /* Adjust color as needed */
    padding: 20px;
    box-sizing: border-box;
    border: 1px solid #ccc; /* Adjust border as needed */
    border-radius: 5%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.middle{
    width: 50%; /* Adjust width as needed */
    background-color: #fff; /* Adjust color as needed */
    padding: 20px;
    box-sizing: border-box;
    border: 1px solid #ccc; /* Adjust border as needed */
    display:flex;
    border-radius: 5%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.left{
    width: 20%; /* Adjust width as needed */
    background-color: #fff; /* Adjust color as needed */
    padding: 20px;
    box-sizing: border-box;
    border: 1px solid #ccc; /* Adjust border as needed */
    border-radius: 5%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

a:hover, a:active {
    background-color: #916E99;
}

h2{
    text-align: center;
}

ul{
    list-style-type: none;
    font-size: larger;
}

.button{
    text-decoration:none;
    font-size: larger;
    background-color: #916E99;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 15px 32px;
    text-align: center;
    border: none;
    color: white;
    display: inline-block;

}

li{
    padding: 20%;
    list-style-type: none;
    text-align: center;
}


a.button {text-decoration: none;}
a.button:link {color:#916E99;}
a.button:visited {color:white;}
a.button:hover {font-size:150%;}
