body {
            font-family: Arial, sans-serif;
            background-color: #f4f4f4;
            margin: 0;
            padding: 0px;
        }
        .container {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 100px;
        }
        .product {
            background-color: white;
            border: 1px solid #ddd;
            padding: 10px;
            box-shadow: 2px 2px 5px rgba(0,0,0,0.1);
            border-radius: 10px;
        }
        h2 {
            color: #333;
        }
        .price {
            color: green;
        }
        .colors {
            margin-top: 10px;
        }
        .color-circle {
            height: 20px;
            width: 20px;
            background-color: #bbb;
            border-radius: 50%;
            display: inline-block;
        }
        .red { background-color: #ff0000; }
        .blue { background-color: #0000ff; }
        .black { background-color: #000000; }
        .white { background-color: #ffffff; }
        .green { background-color: #008000; }
        .yellow { background-color: #ffff00; }
        .grey { background-color: #808080; }
        .sunburst { background-color: #cd8500; }
        img {
            width: 100%;
            border-radius: 5px;
        }
        .search-bar {
            margin-bottom: 20px;
        }
        input[type="text"] {
            width: 100%;
            padding: 10px;
            margin-top: 5px;
            box-sizing: border-box;
            border: 2px solid #ccc;
            border-radius: 4px;
        }

* {
    padding:0; margin:0;
}



